html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: "Raleway"; font-weight: 300; line-height: 1; }

a:hover { text-decoration: none; }

.container-fluid { padding: 0; margin: 0; }

section { height: 100%; overflow: hidden; }

.col-xxs-show { display: none; }

.col-xxs-hidden { display: block; }

@media (max-width: 481px) { .col-xxs-0 { width: 0%; padding: 5px 15px; float: left; }
  .col-xxs-offset-0 { margin-left: 0%; }
  .col-xxs-1 { width: 8.33333%; padding: 5px 15px; float: left; clear: both; }
  .col-xxs-offset-1 { margin-left: 8.33333%; }
  .col-xxs-2 { width: 16.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-2 { margin-left: 16.66667%; }
  .col-xxs-3 { width: 25%; padding: 5px 15px; float: left; }
  .col-xxs-offset-3 { margin-left: 25%; }
  .col-xxs-4 { width: 33.33333%; padding: 5px 15px; float: left; }
  .col-xxs-offset-4 { margin-left: 33.33333%; }
  .col-xxs-5 { width: 41.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-5 { margin-left: 41.66667%; }
  .col-xxs-6 { width: 50%; padding: 5px 15px; float: left; }
  .col-xxs-offset-6 { margin-left: 50%; }
  .col-xxs-7 { width: 58.33333%; padding: 5px 15px; float: left; }
  .col-xxs-offset-7 { margin-left: 58.33333%; }
  .col-xxs-8 { width: 66.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-8 { margin-left: 66.66667%; }
  .col-xxs-9 { width: 75%; padding: 5px 15px; float: left; }
  .col-xxs-offset-9 { margin-left: 75%; }
  .col-xxs-10 { width: 83.33333%; padding: 5px 15px; float: left; }
  .col-xxs-offset-10 { margin-left: 83.33333%; }
  .col-xxs-11 { width: 91.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-11 { margin-left: 91.66667%; }
  .col-xxs-12 { width: 100%; padding: 5px 15px; float: left; }
  .col-xxs-offset-12 { margin-left: 100%; }
  .hidden-xxs { display: none; }
  .visible-xxs { display: block !important; } }
.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 { padding-left: 5px; padding-right: 5px; }

@keyframes up-down { 0% { transition: transform 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); transform: translateX(0px) translateY(-10px); }
  50% { transition: transform 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); transform: translateX(0px) translateY(25px); }
  100% { transition: transform 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); transform: translateX(0px) translateY(-10px); } }
#main #slide .content h1, #about .list h1, #works h1, #contact .form h1, #contact .landing h1 { font-size: 2.4em; font-weight: 300; text-align: center; margin-top: 25px; margin-bottom: 20px; }
@media (max-width: 481px) { #main #slide .content h1, #about .list h1, #works h1, #contact .form h1, #contact .landing h1 { font-size: 1.6em; text-align: center; } }

.form .form-group input, .form .form-group textarea, .form .form-group select, .btn-primary, .btn-primary-fill, .btn-secondary, #main #slide .content p, #about .list p { font-size: 1.2em; line-height: 1.2em; display: block; clear: both; }
@media (max-width: 481px) { .form .form-group input, .form .form-group textarea, .form .form-group select, .btn-primary, .btn-primary-fill, .btn-secondary, #main #slide .content p, #about .list p { text-align: center; } }

#main #slide .content .line, #about .list h1 .line, #works h1 .line, #contact .form h1 .line, #contact .landing h1 .line { display: block; height: 1px; width: 150px; margin: 10px auto 40px auto; background-color: #ffde00; }

.form .form-group { position: relative; margin: 40px 0; }
.form .form-group input, .form .form-group textarea, .form .form-group select { background-color: transparent; border-bottom-color: #ffde00 !important; border-bottom-style: solid; border-bottom-width: 1px !important; color: #FFFFFF; resize: none; }
@media (max-width: 481px) { .form .form-group label { font-size: 1em !important; } }
.form .form-group.active label { top: -20px; font-size: 0.8em; color: #ffde00; }
.form .form-group.active input, .form .form-group.active textarea, .form .form-group.active select { border-bottom: 1px solid #4e6274; }
.form .form-group label { position: absolute; color: #FFFFFF; font-weight: 300; font-size: 1.3em; left: 10px; }

.btn-primary, .btn-primary-fill, .btn-secondary { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; font-weight: 300; min-width: 150px; margin: 20px auto; display: block; }

.btn-primary { background-color: transparent; border: 1px solid #FFFFFF; color: #FFFFFF; }
.btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:visited:hover { background-color: #ffde00; border: 1px solid #ffde00; color: #29323d; }
.btn-primary:visited { color: #FFFFFF; }

.btn-primary-fill { background-color: #ffde00; border: 1px solid #ffde00; color: #29323d; }
.btn-primary-fill:hover, .btn-primary-fill:active, .btn-primary-fill:active:hover, .btn-primary-fill:active:focus, .btn-primary-fill:focus, .btn-primary-fill:visited:hover { background-color: transparent; border: 1px solid #FFFFFF; color: #FFFFFF; }
.btn-primary-fill:visited { color: #FFFFFF; }

.btn-secondary { background-color: transparent; border: 1px solid #4e6274; color: #29323d; }
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:focus, .btn-secondary:visited:hover { background-color: #29323d; border: 1px solid #29323d; color: #FFFFFF; }
.btn-secondary:visited { color: #29323d; }

.nopadding { padding: 0; }

.nomargin { margin: 0; }

#main, #about, #works, #contact { height: 100%; min-height: 650px; overflow: hidden; padding-top: 90px; padding-left: 50px; padding-right: 50px; }
@media (max-width: 481px) { #main, #about, #works, #contact { padding-left: 15px; padding-right: 15px; min-height: 500px; } }

.form .form-group input, .form .form-group textarea, .form .form-group select { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

.form .form-group input, .form .form-group textarea, .form .form-group select { outline: 0; border-color: inherit; border-width: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

header { height: 70px; position: fixed !important; padding: 0 !important; margin: 0 !important; z-index: 2; color: #FFFFFF; background-color: #ffde00; }
header .logo { padding: 0; }
header .logo .title { float: left; background-color: #29323d; letter-spacing: -1px; padding: 10px 15px 10px 45px; margin-top: 15px; font-size: 1.3em; color: #FFFFFF; }
@media (max-width: 481px) { header .logo .title { padding-left: 15px; } }
header nav { color: #29323d; }
header nav p { float: right; font-weight: 300; font-size: 0.8em; }
header nav p.back { display: none; }
header nav p.menu, header nav p.back { margin-top: 30px; margin-right: 10px; }
header nav ul { float: right; cursor: pointer; margin-top: 20px; margin-right: 10px; }
header nav ul li { background-color: #29323d; height: 2px; width: 30px; margin: 6px 0; }
header.active { background-color: transparent; z-index: 3; }
header.active nav p.back { display: block; }
header.active nav p.menu { display: none; }
header.active nav ul { margin-top: 25px; }
header.active nav ul li:first-child { -ms-transform: rotate(20deg); -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -o-transform: rotate(20deg); transform: rotate(20deg); width: 15px; margin-left: 15px; margin-bottom: -5px; }
header.active nav ul li:last-child { -ms-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); -moz-transform: rotate(-20deg); -o-transform: rotate(-20deg); transform: rotate(-20deg); width: 15px; margin-left: 15px; margin-top: -5px; }

footer { position: fixed !important; bottom: 0; padding: 10px 0; z-index: 2; font-size: 0.8em; font-weight: 400; background-color: #ffde00; }
@media (max-width: 481px) { footer { text-align: center; } }
@media (max-width: 481px) { footer .social { float: none !important; } }
footer .social li { margin: 0; display: inline-block; }
footer .social li a { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 5px 8px; background-color: #29323d; color: #FFFFFF; }
footer .social li a span { font-size: 0.7em; }

#full-menu { display: none; background-color: #ffde00; width: 100%; height: 100%; z-index: 2; position: fixed; top: 0; left: 0; text-align: center; }
#full-menu.active { display: block; }
#full-menu ul { margin-top: 150px; width: 100%; }
@media (max-width: 481px) { #full-menu ul { margin-top: 90px; } }
#full-menu ul li { padding: 20px; width: 50%; margin: 0 auto; font-weight: 300; font-size: 1.3em; }
@media (max-width: 481px) { #full-menu ul li { width: 90%; padding: 5px; } }
#full-menu ul li span { display: block; margin: 10px auto; width: 20%; height: 1px; background-color: #E1C900; }
#full-menu ul li a { color: #29323d; }
#full-menu ul li:hover { letter-spacing: 2px; font-weight: 400; }
#full-menu ul li:hover span { width: 40%; }

.skills { margin-bottom: 80px; width: 100%; }
.skills ul { text-align: center; width: 100%; }
.skills ul li { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; font-weight: 300; font-size: 0.8em; display: inline-block; min-width: 110px; margin: 5px; padding: 10px; background-color: #ffde00; border: 1px solid #ffde00; color: #29323d; }
@media (max-width: 481px) { .skills ul li { font-size: 0.6em; } }
.skills ul li i { margin-right: 5px; }

#main { background-image: url("../images/background-main.jpg"); background-repeat: repeat; }
#main #slide .content { margin-top: 100px; color: #FFFFFF; }
@media (max-width: 481px) { #main #slide .content { margin-top: 0; padding: 40px 0; } }
@media (min-width: 482px) { #main #slide .content h1 { text-align: left; } }
@media (min-width: 482px) { #main #slide .content .line { margin-left: 0; } }
#main #slide .image img { width: 90%; max-width: 800px; margin: 0 auto; }
@media (max-width: 481px) { #main #slide .image img { width: 70%; display: block; } }

#about .list { padding: 85px; }
@media (max-width: 481px) { #about .list { padding: 0; } }
#about .list p { font-size: 1.3em; margin: 20px 0; line-height: 1.6em; text-align: center; }
#about .list span { font-weight: 600; }
#about .list .prev, #about .list .next { margin: 0 auto; position: absolute; cursor: pointer; top: 40%; font-size: 3em; }
#about .list .prev { left: 25px; }
#about .list .next { right: 25px; }

#works { padding-left: 0; padding-right: 0; background-color: #F9F9F9; }
#works .list { width: 100%; }
#works .list .box { cursor: pointer; position: relative; }
#works .list .box .image { height: 160px; overflow: hidden; }
#works .list .box .image img { width: 100%; min-width: 355px; }
#works .list .box .details { position: absolute; text-align: center; background-color: rgba(255, 222, 0, 0.9); height: 160px; width: 100%; top: 0; cursor: auto; font-weight: 400; }
#works .list .box .details h1 { font-size: 1.4em; margin: 25px 0 10px 0; }
#works .list .box .details ul.tags li { display: inline-block; font-size: 0.8em; margin: 0 2px; }
#works .list .box .details ul.tags li a { color: #4e6274; }
#works .list .box .details ul.buttons { text-align: center; }
#works .list .box .details ul.buttons li { display: inline-block; }

#contact { background-color: #29323d; }
#contact .form h1, #contact .landing h1 { color: #FFFFFF; }
#contact .form h1 span, #contact .landing h1 span { font-weight: 600; }
#contact .landing h1 { margin-top: 120px; }
@media (max-width: 481px) { #contact .landing h1 { margin-top: 30px; } }
#contact .landing .arrow { width: 60px; margin: 40px auto; -webkit-animation: up-down 1.2s infinite; animation: up-down 1.2s infinite; }
#contact .landing .arrow img { width: 100%; }
#contact .landing .btn { min-width: 300px; padding: 15px 0; }
@media (max-width: 481px) { #contact .landing .btn { min-width: 250px; } }

/*# sourceMappingURL=style.css.map */
