html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: "Yantramanav"; font-weight: 200; line-height: 1; }

a:hover { text-decoration: none; }

.container-fluid { padding: 0; margin: 0; }

.form .form-group input, .form .form-group textarea, .form .form-group select { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

.form .form-group input, .form .form-group textarea, .form .form-group select { outline: 0; border-color: inherit; border-width: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.col-xxs-show { display: none; }

.col-xxs-hidden { display: block; }

@media (max-width: 481px) { .col-xxs-0 { width: 0%; padding: 5px 15px; float: left; }
  .col-xxs-offset-0 { margin-left: 0%; }
  .col-xxs-1 { width: 8.33333%; padding: 5px 15px; float: left; clear: both; }
  .col-xxs-offset-1 { margin-left: 8.33333%; }
  .col-xxs-2 { width: 16.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-2 { margin-left: 16.66667%; }
  .col-xxs-3 { width: 25%; padding: 5px 15px; float: left; }
  .col-xxs-offset-3 { margin-left: 25%; }
  .col-xxs-4 { width: 33.33333%; padding: 5px 15px; float: left; }
  .col-xxs-offset-4 { margin-left: 33.33333%; }
  .col-xxs-5 { width: 41.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-5 { margin-left: 41.66667%; }
  .col-xxs-6 { width: 50%; padding: 5px 15px; float: left; }
  .col-xxs-offset-6 { margin-left: 50%; }
  .col-xxs-7 { width: 58.33333%; padding: 5px 15px; float: left; }
  .col-xxs-offset-7 { margin-left: 58.33333%; }
  .col-xxs-8 { width: 66.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-8 { margin-left: 66.66667%; }
  .col-xxs-9 { width: 75%; padding: 5px 15px; float: left; }
  .col-xxs-offset-9 { margin-left: 75%; }
  .col-xxs-10 { width: 83.33333%; padding: 5px 15px; float: left; }
  .col-xxs-offset-10 { margin-left: 83.33333%; }
  .col-xxs-11 { width: 91.66667%; padding: 5px 15px; float: left; }
  .col-xxs-offset-11 { margin-left: 91.66667%; }
  .col-xxs-12 { width: 100%; padding: 5px 15px; float: left; }
  .col-xxs-offset-12 { margin-left: 100%; }
  .hidden-xxs { display: none; }
  .visible-xxs { display: block !important; } }
.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 { padding-left: 5px; padding-right: 5px; }

.nopadding { padding: 0; }

.nomargin { margin: 0; }

#main #slide .content h1, #contact h1 { font-size: 2.6em; font-weight: 300; }

.form .form-group input, .form .form-group textarea, .form .form-group select, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:visited:hover, .btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:focus, .btn-secondary:visited:hover, #main #slide .content p { font-size: 1.2em; }

#main #slide .content .line, #contact h1 .line { display: block; height: 1px; width: 150px; margin: 10px 0 40px 0; background-color: #ffde00; }

.form .form-group { position: relative; margin: 40px 0; }
.form .form-group input, .form .form-group textarea, .form .form-group select { background-color: transparent; border-top: transparent; border-left: transparent; border-right: transparent; border-bottom: 1px solid #ffde00; color: #FFFFFF; }
.form .form-group.active label { top: -20px; font-size: 1em; color: #ffde00; }
.form .form-group.active input, .form .form-group.active textarea, .form .form-group.active select { border-bottom: 1px solid rgba(41, 50, 61, 0.3); }
.form .form-group label { position: absolute; color: #FFFFFF; font-weight: 300; font-size: 1.4em; left: 10px; }

.btn-primary { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; background-color: transparent; border: 1px solid #FFFFFF; color: #FFFFFF; font-weight: 100; width: 150px; margin: 20px auto; display: block; }
.btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:visited:hover { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; background-color: #ffde00; border: 1px solid #ffde00; color: #29323d; font-weight: 300; }
.btn-primary:visited { color: #FFFFFF; }

.btn-secondary { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; background-color: transparent; border: 1px solid rgba(41, 50, 61, 0.3); color: #29323d; font-weight: 100; width: 150px; margin: 20px auto; display: block; }
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:focus, .btn-secondary:visited:hover { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; background-color: #29323d; border: 1px solid #29323d; color: #FFFFFF; font-weight: 300; }
.btn-secondary:visited { color: #29323d; }

header { height: 70px; position: fixed !important; padding: 0 !important; margin: 0 !important; z-index: 2; color: #FFFFFF; background-color: #ffde00; }
header .logo { padding: 0; }
header .logo .title { float: left; background-color: #29323d; letter-spacing: -1px; padding: 10px 15px 10px 45px; margin-top: 15px; font-size: 1.3em; color: #FFFFFF; }
@media (max-width: 481px) { header .logo .title { padding-left: 25px; } }
header nav { color: #29323d; }
header nav p { float: right; font-weight: 300; font-size: 0.8em; }
header nav p.back { display: none; }
header nav p.menu, header nav p.back { margin-top: 30px; margin-right: 10px; }
header nav ul { float: right; cursor: pointer; margin-top: 20px; margin-right: 10px; }
header nav ul li { background-color: #29323d; height: 2px; width: 30px; margin: 6px 0; }
header.active { background-color: transparent; z-index: 3; }
header.active nav p.back { display: block; }
header.active nav p.menu { display: none; }
header.active nav ul { margin-top: 25px; }
header.active nav ul li:first-child { -ms-transform: rotate(20deg); -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -o-transform: rotate(20deg); transform: rotate(20deg); width: 15px; margin-left: 15px; margin-bottom: -5px; }
header.active nav ul li:last-child { -ms-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); -moz-transform: rotate(-20deg); -o-transform: rotate(-20deg); transform: rotate(-20deg); width: 15px; margin-left: 15px; margin-top: -5px; }

#full-menu { display: none; background-color: #ffde00; width: 100%; height: 100%; z-index: 2; position: absolute; top: 0; left: 0; text-align: center; }
#full-menu.active { display: block; }
#full-menu ul { margin-top: 150px; width: 100%; }
#full-menu ul li { padding: 20px; width: 50%; margin: 0 auto; font-weight: 300; }
@media (max-width: 481px) { #full-menu ul li { width: 80%; } }
#full-menu ul li span { display: block; margin: 10px auto; width: 10%; height: 1px; background-color: #E1C900; }
#full-menu ul li a { color: #29323d; }
#full-menu ul li:hover { letter-spacing: 2px; font-weight: 400; }
#full-menu ul li:hover span { width: 30%; }

#main { height: 100%; padding-top: 90px; padding-left: 50px; padding-right: 50px; position: absolute; background-image: url("../images/background-main.jpg"); background-repeat: repeat; }
#main #slide .content { float: left; margin-top: 150px; color: #FFFFFF; }
#main #slide .image { float: right; }
#main #slide .image img { max-width: 100%; }

#works { height: 100%; padding-top: 90px; padding-left: 0; padding-right: 0; position: absolute; background-color: #29323d; }
#works .list { width: 100%; }
#works .list .box { cursor: pointer; position: relative; }
#works .list .box .image { height: 160px; overflow: hidden; }
#works .list .box .image img { width: 100%; min-width: 355px; }
#works .list .box .details { position: absolute; text-align: center; background-color: rgba(255, 222, 0, 0.9); height: 160px; width: 100%; top: 0; cursor: auto; font-weight: 400; }
#works .list .box .details h1 { font-size: 1.4em; margin: 25px 0 10px 0; }
#works .list .box .details ul.tags li { display: inline-block; font-size: 0.8em; margin: 0 2px; }
#works .list .box .details ul.tags li a { color: rgba(41, 50, 61, 0.3); }
#works .list .box .details ul.buttons { text-align: center; }
#works .list .box .details ul.buttons li { display: inline-block; }

#contact { height: 100%; padding-top: 90px; padding-left: 50px; padding-right: 50px; position: absolute; background-color: #29323d; }
#contact h1 { font-weight: 100; margin-top: 25px; margin-bottom: 20px; color: #FFFFFF; text-align: center; }
#contact h1 .line { background-color: #ffde00; margin-left: auto; margin-right: auto; }

/*# sourceMappingURL=style.css.map */
