<div id="about" class="col-xs-12">

    <div class="list col-xxs-12">

        <span class="prev" ng-click="prevSkill()" ng-show="!showAllSkills"><i class="fa fa-arrow-circle-o-left"></i></span>
        <span class="next" ng-click="nextSkill()" ng-show="!showAllSkills"><i class="fa fa-arrow-circle-o-right"></i></span>

        <div ng-show="showAllSkills || skillCurrent == 1">
            <h1>Olá,<span class="line"></span></h1>
            <p>Eu sou a Thais Martins,<br> tenho <span>8 anos de experiência</span><br> em <span>desenvolvimento web</span>, como frontend e backend.</p>
            <p>Meus principais objetivos são <span>compreender o seu negócio</span>, planejar a <span>melhor solução</span> para te ajudar a ter <span>sucesso</span> com a estratégia da sua marca na internet.</p>
        </div>

        <div class="skills" ng-show="showAllSkills || skillCurrent == 2">
            <h1>Como posso te ajudar<span class="line"></span></h1>
            <p>Como o visual do seu negócio</p>
            <ul>
                <li><i class="fa fa-sitemap"></i> Wireframe</li>
                <li><i class="fa fa-users"></i> UI / UX </li>
                <li><i class="fa fa-desktop"></i> Photoshop</li>
                <li><i class="fa fa-file-image-o"></i> Illustrator</li>
            </ul>
        </div>

        <div class="skills" ng-show="showAllSkills || skillCurrent == 3">
            <h1>Como posso te ajudar<span class="line"></span></h1>
            <p>Transformo o visual da sua marca em estrutura web</p>
            <ul>
                <li><i class="fa fa-html5"></i> HTML5</li>
                <li><i class="fa fa-css3"></i> CSS3</li>
                <li><i class="fa fa-mobile-phone"></i> Responsividade</li>
                <li><i class="fa fa-bold"></i> Bootstrap</li>
                <li><i class="fa fa-code"></i> Javascript </button></li>
                <li><i class="fa fa-code"></i> Jquery</li>
                <li><i class="fa fa-buysellads"></i> AngularJs</li>
                <li><i class="fa fa-terminal"></i> Sass</li>
            </ul>
        </div>

        <div class="skills" ng-show="showAllSkills || skillCurrent == 4">
            <h1>Como posso te ajudar<span class="line"></span></h1>
            <p>Sua estrutura em sistema web</p>
            <ul>
                <li><i class="fa fa-code"></i> PHP</li>
                <li><i class="fa fa-cubes"></i> Yii Framework</li>
                <li><i class="fa fa-cubes"></i> Codeigniter</li>
                <li><i class="fa fa-cubes"></i> Slim Framework</li>
                <li><i class="fa fa-cogs"></i> Doctrine</li>
                <li><i class="fa fa-hdd-o"></i> Ngnix/PHP-FPM</li>
                <li><i class="fa fa-code"></i> Java</li>
                <li><i class="fa fa-cogs"></i> Hibernate</li>
                <li><i class="fa fa-cubes"></i> Spring</li>
                <li><i class="fa fa-hdd-o"></i> Jboss</li>
                <li><i class="fa fa-hdd-o"></i> Tomcat</li>
                <li><i class="fa fa-git"></i> git</li>
                <li><i class="fa fa-database"></i> MySql</li>
            </ul>
        </div>

        <div class="skills" ng-show="showAllSkills || skillCurrent == 5">
            <h1>Como posso te ajudar<span class="line"></span></h1>
            <p>Seu sistema em um app mobile</p>
            <ul>
                <li><i class="fa fa-mobile-phone"></i> Phonegap</li>
                <li><i class="fa fa-circle-o"></i> Ionic</li>
                <li><i class="fa fa-cube"></i> ngCordova</li>
                <li><i class="fa fa-inbox"></i> Multiplataforma</li>
            </ul>
        </div>
    </div>
</div>