<header class="col-xs-12"  ng-class="{'active': activeMenu}">
    <div class="logo col-xs-6">
        <a class="title" href="#/">Thais Martins</a>
    </div>
    <nav class="col-xs-6">
        <ul ng-click="toogleMenu()">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <p class="menu">menu</p>
        <p class="back">voltar</p>
    </nav>
</header>

<div id="full-menu" class="col-xs-6" ng-class="{'active': activeMenu}">
    <ul>
        <li ng-repeat="item in menu">
            <a href="#/#{{item.slug}}" ng-click="toogleMenu()">
                {{item.name}}
            </a>
            <span></span>
        </li>
    </ul>
</div>