<header class="col-xs-12">
    <section class="logo col-xs-6">
        <a href="#">
            <div class="design">TM</div>
            <div class="title">Thais Martins</div>
        </a>
    </section>
    <nav class="col-xs-6">
        <p>Voltar</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <p>Menu</p>
    </nav>
    <section class="col-xs-6">
        <ul>
            <li><a href="">Teste</a></li>
            <li><a href="">Teste</a></li>
            <li><a href="">Teste</a></li>
            <li><a href="">Teste</a></li>
        </ul>
    </section>
</header>