<header class="col-xs-12">
    <section class="logo col-xs-6">
        <div class="design">TM</div>
        <div class="title">Thais Martins</div>
    </section>
    <nav class="col-xs-6">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <p class="menu">menu</p>
        <p class="back">voltar</p>
    </nav>
    <section class="full-menu col-xs-6">
        <ul>
            <li><a href="">Teste</a></li>
            <li><a href="">Teste</a></li>
            <li><a href="">Teste</a></li>
            <li><a href="">Teste</a></li>
        </ul>
    </section>
</header>