<div id="main" class="col-xs-12">
    <div id="slide">
        <div class="visible-xs col-xxs-12">
            <h1>{{slide.name}} <span class="line"></span></h1>
        </div>
        <div class="image col-xs-12 col-sm-7 pull-right">
            <img ng-src="public/images/slides/{{slide.image}}" alt="{{slide.name}}" alt="{{slide.name}}" />
        </div>
        <div class="content col-xs-12 col-sm-5 pull-left">
            <h1 class="hidden-xs">{{slide.name}} <span class="line"></span></h1>
            <p>{{slide.description}}</p>
        </div>
    </div>
</div>