<div id="works" class="col-xs-12">
    <a name="works"></a>
    <h1>Meus Trabalhos {{seeWork}}<span class="line"></span></h1>

    <div class="list">
        <div class="col-xxs-12 col-xs-6 col-sm-4 nopadding" ng-repeat="work in works"
             ng-mouseover="showWork = work.id"  ng-mouseleave="showWork = ''">

            <div class="box">
                <div class="image">
                    <img ng-src="public/images/works/{{work.path}}/{{work.images[0].image}}" alt="{{work.name}}" alt="{{work.name}}" />
                </div>

                <div class="details" ng-show="showWork == {{work.id}}">
                    <h1>{{work.name}}</h1>
                    <p>{{work.shortdescription}}</p>
                    <ul class="buttons">
                        <li>
                            <a class="btn btn-secondary" ng-click="seeWork(work.id)"><i class="fa fa-search-plus"></i></a>
                        </li>
                        <li ng-if="work.url">
                            <a class="btn btn-secondary" href="{{work.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="full-work" class="col-xs-12" ng-if="viewWork && currentWork">
    <div class="col-xs-6 col-xxs-12 pull-right">
        <h1>{{currentWork.name}}</h1>
        <ul class="tags">
            <li ng-repeat="tag in currentWork.tags">{{tag | uppercase}}</li>
        </ul>
        <p>{{currentWork.shortdescription}}</p>
    </div>
    <div class="col-xs-6 col-xxs-12">
        <ul class="photos">
            <li ng-repeat="img in currentWork.images" class="col-xs-6 col-xxs-12">
                <a href="public/images/works/{{currentWork.path}}/{{img.image}}" data-lightbox="{{currentWork.path}}" data-title="{{img.name}}">
                    <img src="public/images/works/{{currentWork.path}}/{{img.image}}" alt="{{img.name}}" title="{{img.name}}">
                </a>
            </li>
        </ul>
    </div>
    <div class="button col-xxs-12">
        <a ng-click="hideWork()" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> voltar</a>
    </div>
</div>