<div class="iphone">
    <div class="screen">
        <div class="top">
            <div class="menu"></div>
            <div class="logo"></div>
        </div>
        <div class="input"></div>
        <div class="image"></div>
        <div class="card">
            <div class="circle"></div>
            <div class="txt"></div>
        </div>
        <div class="card">
            <div class="circle"></div>
            <div class="txt"></div>
        </div>
        <div class="card">
            <div class="circle"></div>
            <div class="txt"></div>
        </div>
    </div>
</div>