<div class="computer">
    <div class="screen">
        <div class="browser">
            <div class="top">
                <div class="btns">
                    <div class="btn btn-red"></div>
                    <div class="btn btn-yellow"></div>
                    <div class="btn btn-green"></div>
                </div>
                <div class="directionals">
                    <div class="btn btn-left"></div>
                    <div class="btn btn-right"></div>
                </div>
                <div class="inputs">
                    <div class="input input-lg"></div>
                    <div class="input input-sm"></div>
                </div>
            </div>
            <div class="body">
                <div class="menu"></div>
                <div class="form">
                    <div class="title"></div>
                    <div class="input"></div>
                    <div class="input"></div>
                    <div class="input input-sm"></div>
                    <div class="input input-sm"></div>
                    <div class="btn"></div>
                </div>
            </div>
        </div>
        <div class="brand"></div>
    </div>
    <div class="support"></div>
</div>