<div class="photoshop">
    <div class="rulers"></div>
    <div class="tools">
        <div class="block active"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="colors">
            <div class="block"></div>
            <div class="block"></div>
        </div>
        <div class="block"></div>
    </div>
    <div class="body">
        <div class="banner">
            <div class="txt"></div>
            <div class="slogan"></div>
        </div>
        <div class="content">
            <div class="card">
                <div class="image"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="btn"></div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="btn"></div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="btn"></div>
            </div>
        </div>
    </div>
</div>