<div class="browser">
    <div class="top">
        <div class="btns">
            <div class="btn btn-red"></div>
            <div class="btn btn-yellow"></div>
            <div class="btn btn-green"></div>
        </div>
        <div class="directionals">
            <div class="btn btn-left"></div>
            <div class="btn btn-right"></div>
        </div>
        <div class="inputs">
            <div class="input input-lg"></div>
            <div class="input input-sm"></div>
        </div>
    </div>
    <div class="body">
        <div class="menu">
            <div class="logo"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="banner">
            <div class="txt"></div>
            <div class="slogan"></div>
            <div class="btn"></div>
            <div class="phone"></div>
            <div class="phone back"></div>
        </div>
        <div class="content">
            <div class="card">
                <div class="image"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="btn"></div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="btn"></div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="txt"></div>
                <div class="btn"></div>
            </div>
        </div>
    </div>
</div>