<a name="skills"></a>

<div id="skills" class="col-xs-12">
    <div class="skill" ng-repeat="skill in skills">
        <div class="col-xs-12 col-sm-4 call" on-scroll="active">
            <h1 class="page-title" ng-bind-html="skill.description | safeHtml:'dot'"></h1>
            <span class="line"></span>
        </div>

        <div class="col-xs-12 col-sm-8 text" on-scroll="active">
            <div class="col-xs-12" on-scroll="active">
                <ng-include src="'app/views/skills/design.html'" ng-if="skill.name == 'design'"></ng-include>
                <ng-include src="'app/views/skills/frontend.html'" ng-if="skill.name == 'frontend'"></ng-include>
                <ng-include src="'app/views/skills/backend.html'" ng-if="skill.name == 'backend'"></ng-include>
                <ng-include src="'app/views/skills/apps.html'" ng-if="skill.name == 'apps'"></ng-include>
            </div>
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="item in skill.items">
                        <i class="fa fa-{{item.icon}}"></i> {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>