#contact
  @extend %page
  background:
    color: $color-secondary

  @media #{$xsmall-max}
    margin:
      top: 0
    padding:
      top: 0

  p
    color: $color-soft
    margin: 10px 0
    font:
      weight: 600

    a
      color: $color-soft

      &:hover
        color: $color-special

  .form,
  .landing
    padding:
      top: 80px

    h1
      @extend %h1
      color: $color-soft

  .form
    .warning
      text-align: center
      font-weight: 700

      &.send
        color: greenyellow

      &.error
        color: crimson

  .landing
    h1
      text:
        align: center

    .arrow
      width: 60px
      margin: 40px auto
      -webkit-animation: up-down 1.2s infinite
      animation: up-down 1.2s infinite
      img
        width: 100%

    .btn
      min-width: 300px
      padding: 15px 0

      @media #{$xsmall-max}
        min-width: 250px