#contact
  @extend %page
  background:
    color: $color-secondary

  @media #{$xsmall-max}
    margin:
      top: 0
    padding:
      top: 0

  p
    color: $color-soft
    margin: 10px 0
    font:
      weight: 600

    a
      color: $color-soft

      &:hover
        color: $color-special

  .form,
  .landing
    padding:
      top: 80px

    h1
      @extend %h1
      color: $color-soft

  .form
    .social
      margin: 20px 0

      li
        display: inline-block
        padding: 5px 10px

        a
          @include transition(color .4s)
          color: $color-special
          font:
            size: 2em

          &:hover
            @include transition(color .4s)
            color: $color-soft

    .warning
      text-align: center
      font-weight: 700

      &.send
        color: greenyellow

      &.error
        color: crimson

    .btn
      i
        display: none
        right: initial
        left: 80px

      &.sended
        i
          @include animation(sended .2s 2s forwards)
          display: block
          opacity: 1

      &.sending
        span.progress-line
          @include rounded(30px)
          width: 220px
          height: 40px
          background:
            color: $color-special

          &::after
            @include rounded(30px)
            content: ''
            width: 100%
            height: 100%
            display: block
            position: absolute
            left: 0
            top: 0

          &::after
            @include animation(progress 1s infinite)
            background:
              color: darken($color-special, 10%)
  .landing
    h1
      text:
        align: center

    .arrow
      width: 60px
      margin: 40px auto
      -webkit-animation: up-down 1.2s infinite
      animation: up-down 1.2s infinite
      img
        width: 100%

    .btn
      min-width: 300px
      padding: 15px 0
      position: relative

      @media #{$xsmall-max}
        min-width: 250px

@keyframes progress
  0%
    width: 5%
  100%
    width: 100%

@keyframes sended
  0%
    opacity: 1
  100%
    opacity: 0