footer
  bottom: 0
  padding: 10px 0
  z-index: 2
  font:
    size: .8em
    weight: 400
  background:
    color: $color-primary

  @media #{$xsmall-max}
    text-align: center
    padding: 0

  .social
    li
      margin: 0
      display: inline-block

      a
        width: 100%
        border:
          left: 1px solid $color-primary-dark
        padding: 5px 12px
        color: $color-secondary

        @media #{$xsmall-max}
          border: none
          text:
            align: center
          font-size: 1.2em

        &:hover
          background:
            color: $color-secondary
          color: $color-soft

        span
          font:
            size: .7em