#full-menu
  display: block
  background:
    color: $color-primary
  width: 100%
  height: 0
  z-index: 9998
  position: fixed
  top: 0
  left: 0
  text-align: center
  overflow: hidden

  &.not-active
    @include animation(slide-up .4s .4s ease forwards)
    height: 100%

    ul
      li:nth-child(5)
        @include transition(left .3s .15s)
        left: -100%

      li:nth-child(4)
        @include transition(left .3s .2s)
        left: -100%

      li:nth-child(3)
        @include transition(left .3s .25s)
        left: -100%

      li:nth-child(2)
        @include transition(left .3s .3s)
        left: -100%

      li:nth-child(1)
        @include transition(left .3s .35s)
        left: -100%

  &.active
    @include animation(slide-down .4s ease forwards)

    ul
      @for $i from 1 through 5
        li:nth-child(#{$i})
          @include transition(left .4s #{($i * .1)}s)
          left: 0

  ul
    margin:
      top: 150px
    width: 100%
    position: absolute

    @media #{$xsmall-max}
      margin:
        top: 90px

    li
      text-transform: uppercase
      position: relative
      padding: 15px
      width: 50%
      margin: 0 auto
      font:
        weight: 800
        size: 1.2em

      @media #{$xsmall-max}
        width: 90%
        padding: 5px

      span
        display: block
        margin: 10px auto
        width: 0
        height: 2px
        background:
          color: $color-primary-dark

      a
        color: $color-secondary

      &:hover
        a
          @include transition(color .2s)
          color: $color-special

        span
          @include transition(width .2s)
          width: 40%
          background:
            color: $color-special

@keyframes slide-down
  0%
    height: 0
  100%
    height: 100%

@keyframes slide-up
  100%
    height: 0