#main
  height: 100%
  padding:
    top: $height-header + $padding-top-page
    left: $padding-page-side
    right: $padding-page-side
  position: absolute
  background:
    image: url("../images/background-main.jpg")
    repeat: repeat

  #slide
    .content
      margin:
        top: 100px
      color: $color-soft

      h1
        @extend %h1
        text-align: left

      .line
        @extend %line
        margin:
          left: 0

      p
        @extend %p

    .image
      img
        width: 90%
        max-width: 800px
        margin: 0 auto