#main
  @extend %page
  background:
    image: url("../images/background-main.jpg")
    repeat: repeat
  color: $color-soft

  h1
    @extend %h1

    @media #{$small}
      text-align: left

    .line
      @extend %line

      @media #{$small}
        margin:
          left: 0

  #slide
    .content
      margin:
        top: 100px

      @media #{$small-max}
        margin:
          top: 0
        padding: 40px 0

      p
        @extend %p

        @media #{$small-max}
          font:
            size: 1em

    .image
      img
        width: 90%
        max-width: 800px
        margin: 0 auto

        @media #{$xsmall-max}
          width: 70%
          display: block