#main
  @extend %page
  background:
    image: url("../images/background-main.jpg")
    repeat: repeat

  #slide
    .content
      margin:
        top: 100px
      color: $color-soft

      @media #{$xsmall-max}
        margin:
          top: 0
        padding: 40px 0

      h1
        @extend %h1

        @media #{$xsmall}
          text-align: left

      .line
        @extend %line

        @media #{$xsmall}
          margin:
            left: 0

      p
        @extend %p

    .image
      img
        width: 90%
        max-width: 800px
        margin: 0 auto

        @media #{$xsmall-max}
          width: 70%
          display: block