.skills
  margin:
    bottom: 80px
  width: 100%

  ul
    text-align: center
    width: 100%

    li
      @include rounded(30px)
      font:
        weight: 300
        size: .8em
      display: inline-block
      min-width: 110px
      margin: 5px
      padding: 10px
      background:
        color: $color-primary
      border: 1px solid $color-primary
      color: $color-secondary

      @media #{$xsmall-max}
        font:
          size: .6em

      i
        margin:
          right: 5px