#skills
  @extend %page
  background:
    color: $color-primary-soft

  @media #{$small-max}
    margin:
      top: 0
    padding:
      top: 0

  h1
    @extend %h1

  p
    margin: 40px 0

  .buttons
    position: relative
    width: 300px
    height: 48px

    .prev,
    .next
      cursor: pointer
      width: 50px
      height: 50px
      position: absolute
      top: 0
      background:
        image: url('../images/prev-circle.png')

    .prev
      left: 0
      background:
        image: url('../images/prev-circle.png')

    .next
      right: 0
      background:
        image: url('../images/next-circle.png')

    .line
      position: absolute
      top: 0
      bottom: 0
      margin: auto
      width: 200px
      left: 50px
      height: 3px
      background:
        color: $color-dark

  .skill
    margin:
      top: 50px
      bottom: 50px
    width: 100%
    text:
      align: center

    ul
      text-align: center
      width: 100%

      li
        @include rounded(30px)
        font:
          weight: 300
          size: .8em
        display: inline-block
        min-width: 110px
        margin: 5px
        padding: 10px
        background:
          color: $color-primary
        border: 1px solid $color-primary
        color: $color-secondary

        @media #{$xsmall-max}
          font:
            size: .6em

        i
          margin:
            right: 5px