#slides
  width: 100%
  height: 100%
  display: block
  padding: 0
  overflow: hidden
  margin:
    top: 50px

  .slide
    width: 100%
    height: 100%
    padding: 0 100px
    text-align: center
    background: linear-gradient(to bottom, $color-secondary, darken($color-secondary, 15%))
    color: $color-soft

    @media #{$small-max}
      padding: 0 40px

    &.active
      h1,
      h3,
      .line
        top: 0 !important

      button
        opacity: 1 !important

      .image
        bottom: 0

    .image
      @include transition(all .4s)
      width: 100%
      line-height: 0
      position: relative
      bottom: -1000px

      img
        max-width: 100%

    .content
      padding: 0 50px
      margin:
        top: 100px

      @media #{$small-max}
        margin:
          top: 0
        padding: 20px 0 0

      h1
        @include transition(all .3s)
        width: 100%
        position: relative
        top: -1000px

      h3
        @include transition(all .3s .3s)
        width: 100%
        position: relative
        top: -1000px

      p
        @extend %p
        min-height: 105px

        @media #{$small-max}
          font:
            size: 1em

      .line
        @include transition(all .3s .4s)
        position: relative
        top: -1000px

      button
        @include transition(all .3s 1s)
        padding: 10px 20px
        opacity: 0

  .prev,
  .next
    @include transition(width .4s)
    position: absolute
    overflow: hidden
    cursor: pointer
    opacity: .7
    width: 40px
    height: 35px
    top: 0
    bottom: 0
    margin: auto
    background:
      image: url('../images/prev.png')

    @media #{$small-max}
      display: none

    &:hover
      @include transition(width .4s)
      width: 65px

  .prev
    left: 20px
    background:
      image: url('../images/prev.png')
      position: left center

  .next
    right: 20px
    background:
      image: url('../images/next.png')
      position: right center


  .buttons
    position: absolute
    text-align: center
    width: 100%
    bottom: 40px
    z-index: 3

    @media #{$small-max}
      bottom: 10px

    li
      @include border-radius(50%)
      position: relative
      background:
        color: $color-soft
      width: 12px
      height: 12px
      margin: 0 7px
      display: inline-block
      cursor: pointer
      padding: 0


      &:after
        @include border-radius(50%)
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        margin: auto
        border: 1px solid $color-soft
        padding: 0

      &.active,
      &:hover
        &:after
          @include animation(buttons .2s forwards)

@keyframes buttons
  80%
    left: -15px
    top: -15px
    padding: 20px
  100%
    left: -5px
    top: -5px
    padding: 10px