#works
  @extend %page
  padding: 70px 0 0

  @media #{$medium-max}
    padding:
      bottom: 40px

  @media #{$small-max}
    margin:
      top: 0
    padding:
      top: 0

  h1
    @extend %h1

  .box
    cursor: pointer
    position: relative

    .image
      height: 260px
      overflow: hidden

      img
        min-height: 100%
        width: 100%

    .details
      position: absolute
      text-align: center
      height: 260px
      width: 100%
      top: 0
      cursor: auto
      overflow: hidden

      &.not-active
        background:
          color: rgba(41, 50, 61, .8)

        .logo
          height: 100%

        ul.buttons
          margin-top: 100%

        h1
          margin-top: 100%

      &.active
        background:
          color: rgba(239, 45, 86, .9)

        .logo
          height: 100px
          margin: 15px auto

        ul.buttons
          margin-top: 0

        h1
          margin-top: 0

      .logo
        @include transition(height .2s)
        position: relative
        width: 100%

        img
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          margin: auto
          max-height: 100px
          max-width: 200px

      h1
        @include transition(margin .3s)
        font:
          size: 1.4em
        margin: 0 0 10px

      ul.tags
        li
          display: inline-block
          font:
            size: 0.8em
          margin: 0 2px

          a
            color: $color-secondary-soft

      ul.buttons
        @include transition(margin .2s .2s)
        text-align: center

        li
          display: inline-block
          width: 25%
          margin: 15px auto
          font:
            size: .8em

          .btn
            min-width: 100%