<a name="about"></a>

<div id="about" class="col-xs-12">

    <div class="col-xs-12 col-sm-4 call" on-scroll="active">
        <h1 class="page-title">
            Olá, sou a <br> <strong>Thais Martins</strong>
            <span class="dot"></span>
        </h1>
        <span class="line"></span>
    </div>

    <div class="col-xs-12 col-sm-8 text" on-scroll="active">
        <p>Tenho <strong>8 anos de experiência</strong> em <strong>desenvolvimento web</strong>, atuando como front-end e back-end.</p>
        <p>Trabalhei em <strong>agências de publicidade</strong> e em empresa com <strong>aplicações de grande porte e alta disponibilidade</strong>, como o meio de pagamento online Bcash.</p>
        <p>Meus principais objetivos são <strong>compreender o seu negócio</strong> e planejar a <strong>melhor solução</strong> para te auxiliar a ter <strong>sucesso</strong> com a estratégia da sua marca na internet.</p>
    </div>

</div>