<a name="contact"></a>

<div id="contact" class="form col-xs-12" on-scroll="active">

    <div class="landing" ng-show="!showForm">
        <h1>Solicite um <strong>orçamento sem compromisso</strong> <br />e entenda melhor como <strong>posso ajudar seu negócio</strong></h1>
        <div class="arrow">
            <img src="public/images/arrow.png" alt="Entre em contato" title="Entre em contato">
        </div>
        <button class="btn btn-special-fill btn-center" ng-click="showForm = true">
            <span>Entre em contato</span>
        </button>
    </div>

    <div class="form" ng-show="showForm">

        <div class="col-xs-12 col-sm-4">
            <h1>Entre <br><strong>em contato</strong><span class="dot"></span></h1>
            <span class="line"></span>
            <p><a href="mailto:contato@thaismartins.co">contato@thaismartins.co</a></p>
            <p>(11) 94129.3240</p>
            <ul class="social">
                <li>
                    <a href="#" title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="BitBucket">
                        <i class="fa fa-bitbucket"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="warning {{success}}" ng-show="contactSend">
                <p> {{message}}</p>
            </div>

            <div class="form-group" ng-class="{'active': contact.name.length > 0}">
                <label for="name">Nome*</label>
                <input class="form-control" id="name" ng-model="contact.name" />
            </div>
            <div class="form-group" ng-class="{'active': contact.phone.length > 0}">
                <label for="phone">Telefone*</label>
                <input class="form-control" id="phone" ng-model="contact.phone" ui-mask="(?9?9) ?9?9?9?9-?9?9?9?9?9" />
            </div>
            <div class="form-group" ng-class="{'active': contact.mail.length > 0}">
                <label for="email">Email*</label>
                <input class="form-control" id="email" ng-model="contact.mail" />
            </div>
            <div class="form-group" ng-class="{'active': contact.message.length > 0}">
                <label for="message">Mensagem*</label>
                <textarea class="form-control" id="message" ng-model="contact.message"></textarea>
            </div>
            <div class="form-group">

                <button class="btn btn-special-fill btn-center" ng-click="sendEmail()"
                        ng-class="{'sending': sendingContact, 'sended': contactSend}">
                    <span>Enviar <i class="fa fa-check"></i></span>
                    <span class="progress-line"></span>
                </button>
            </div>
        </div>

    </div>
</div>