<a name="skills"></a>

<div id="skills" class="col-xs-12">

    <div class="col-xs-12 col-sm-4">
        <h1 class="page-title">Como posso<br> <strong>te ajudar</strong><span class="dot"></span></h1>
        <span class="line"></span>
    </div>

    <div class="col-xs-12 col-sm-8">

        <ul class="skills-list hidden-xxs">
            <li ng-click="skillCurrent = 'design'" ng-class="{'active': skillCurrent == 'design'}">Design</li>
            <li ng-click="skillCurrent = 'frontend'" ng-class="{'active': skillCurrent == 'frontend'}">Estrutura Web</li>
            <li ng-click="skillCurrent = 'backend'" ng-class="{'active': skillCurrent == 'backend'}">Sistemas</li>
            <li ng-click="skillCurrent = 'mobile'" ng-class="{'active': skillCurrent == 'mobile'}">Aplicativos Mobile</li>
        </ul>

        <div class="skill" ng-show="showAllSkills || skillCurrent == 'design'">
            <p>Com o visual do seu negócio</p>
            <ul>
                <li><i class="fa fa-sitemap"></i> Wireframe</li>
                <li><i class="fa fa-users"></i> UI / UX </li>
                <li><i class="fa fa-desktop"></i> Photoshop</li>
                <li><i class="fa fa-file-image-o"></i> Illustrator</li>
            </ul>
        </div>

        <div class="skill" ng-show="showAllSkills || skillCurrent == 'frontend'">
            <p>Transformo o visual da sua marca em estrutura web</p>
            <ul>
                <li><i class="fa fa-html5"></i> HTML5</li>
                <li><i class="fa fa-css3"></i> CSS3</li>
                <li><i class="fa fa-mobile-phone"></i> Responsividade</li>
                <li><i class="fa fa-bold"></i> Bootstrap</li>
                <li><i class="fa fa-code"></i> Javascript </button></li>
                <li><i class="fa fa-code"></i> Jquery</li>
                <li><i class="fa fa-buysellads"></i> AngularJs</li>
                <li><i class="fa fa-terminal"></i> Sass</li>
            </ul>
        </div>

        <div class="skill" ng-show="showAllSkills || skillCurrent == 'backend'">
            <p>Torno sua estrutura web em um sistema</p>
            <ul>
                <li><i class="fa fa-code"></i> PHP</li>
                <li><i class="fa fa-cubes"></i> Yii Framework</li>
                <li><i class="fa fa-cubes"></i> Codeigniter</li>
                <li><i class="fa fa-cubes"></i> Slim Framework</li>
                <li><i class="fa fa-cogs"></i> Doctrine</li>
                <li><i class="fa fa-hdd-o"></i> Ngnix/PHP-FPM</li>
                <li><i class="fa fa-code"></i> Java</li>
                <li><i class="fa fa-cogs"></i> Hibernate</li>
                <li><i class="fa fa-cubes"></i> Spring</li>
                <li><i class="fa fa-hdd-o"></i> Jboss</li>
                <li><i class="fa fa-hdd-o"></i> Tomcat</li>
                <li><i class="fa fa-git"></i> git</li>
                <li><i class="fa fa-database"></i> MySql</li>
            </ul>
        </div>

        <div class="skill" ng-show="showAllSkills || skillCurrent == 'mobile'">
            <p>Converto seu sistema em um aplicativo mobile</p>
            <ul>
                <li><i class="fa fa-mobile-phone"></i> Phonegap</li>
                <li><i class="fa fa-circle-o"></i> Ionic</li>
                <li><i class="fa fa-cube"></i> ngCordova</li>
                <li><i class="fa fa-inbox"></i> Multiplataforma</li>
            </ul>
        </div>
    </div>

</div>