<a name="skills"></a>

<div id="skills" class="col-xs-12">
    <div class="skill" ng-repeat="skill in skills">
        <div class="col-xs-12 col-sm-4 call" on-scroll="active">
            <h1 class="page-title" ng-bind-html="skill.description | safeHtml:'dot'"></h1>
            <span class="line"></span>
        </div>

        <div class="col-xs-12 col-sm-8 text" on-scroll="active">
            <div class="col-xs-12 animate design" on-scroll="active">
                <img src="public/images/icons/pc.png" alt="PC" class="computer">
                <div class="view">
                    <img src="public/images/icons/wireframe.jpg" alt="Wireframe" class="wireframe">
                    <img src="public/images/icons/idea.png" alt="Ideia" class="lamp">
                    <img src="public/images/icons/idea-yellow.png" alt="Ideia" class="lamp-light">
                </div>
            </div>
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="item in skill.items">
                        <i class="fa fa-{{item.icon}}"></i> {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>