<div id="main" class="col-xs-12">

    <div id="slides" class="col-xs-12">
        <div class="slide" ng-repeat="slide in allSlides" ng-show="currentSlide == slide.id">
            <div class="image col-xs-12 col-sm-7 pull-right">
                <img ng-src="public/images/slides/{{slide.image}}" alt="{{slide.name}}" alt="{{slide.name}}" />
            </div>

            <div class="content visible-md visible-xs visible-sm visible-lg col-xs-12 col-sm-5 pull-left">
                <h1 ng-bind-html="slide.name | splitWords:'dot'"></h1>
                <span class="line"></span>
                <p>{{slide.description}}</p>
                <button ng-click="goToContact()" class="btn-special-fill">
                    <span>Peça um orçamento</span>
                </button>
            </div>
        </div>

        <ul class="buttons" >
            <li ng-repeat="otherSlide in allSlides" ng-class="{'active': currentSlide == otherSlide.id}"
                ng-click="showSlide(otherSlide)"></li>
        </ul>
    </div>

</div>