<a name="home"></a>

<div id="main" class="col-xs-12">
    <div id="slides" class="col-xs-12">
        <div class="slide active">
            <div class="content col-xs-12">
                <h1>Desenvolvimento Web e Mobile</h1>
                <h3>Sites responsivos, sistemas para internet e aplicativos</h3>
                <span class="line"></span>
                <button ng-click="goToContact()" class="btn btn-special-fill btn-center">
                    <span>Peça um orçamento</span>
                </button>
            </div>
            <div class="image">
                <img src="public/images/devices.png" alt="Thais Martins">
            </div>
        </div>
    </div>
</div>