<div id="works" class="col-xs-12">

    <h1>Portfólio</h1>

    <div class="list">
        <div class="col-xxs-12 col-xs-6 col-sm-4 nopadding" ng-repeat="work in works"
             ng-mouseover="showWork = work.id"  ng-mouseleave="showWork = ''">

            <div class="box">
                <div class="image">
                    <img ng-src="public/images/works/{{work.path}}/{{work.images[0].image}}" alt="{{work.name}}" alt="{{work.name}}" />
                </div>

                <div class="details" ng-show="showWork == {{work.id}}">
                    <h1>{{work.name}}</h1>
                    <p>{{work.description}}</p>
                    <!--<ul class="tags">-->
                        <!--<li ng-repeat="tag in work.tags"><a href="#/tags/{{tag}}">{{tag | uppercase}}</a></li>-->
                    <!--</ul>-->
                    <ul class="buttons">
                        <li>
                            <button class="btn btn-secondary" ng-click="viewWork = work.id"><i class="fa fa-search-plus"></i></button>
                        </li>
                        <li>
                            <a class="btn btn-secondary" href="{{work.url}}" ng-if="work.url" target="_blank    "><i class="fa fa-external-link"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>