%button
  @extend %p
  @include rounded(30px)
  font:
    weight: 300
  min-width: 150px
  margin: 20px auto
  display: block

.btn-primary
  @extend %button
  background:
    color: transparent
  border: 1px solid $color-soft
  color: $color-soft

  &:hover,
  &:active,
  &:active:hover,
  &:active:focus,
  &:focus,
  &:visited:hover
    background:
      color: $color-primary
    border: 1px solid $color-primary
    color: $color-secondary

  &:visited
    color: $color-soft

.btn-primary-fill
  @extend %button
  background:
    color: $color-primary
  border: 1px solid $color-primary
  color: $color-secondary

  &:hover,
  &:active,
  &:active:hover,
  &:active:focus,
  &:focus,
  &:visited:hover
    background:
      color: transparent
    border: 1px solid $color-soft
    color: $color-soft

  &:visited
    color: $color-soft

.btn-secondary
  @extend %button
  background:
    color: transparent
  border: 1px solid $color-secondary-soft
  color: $color-secondary

  &:hover,
  &:active,
  &:active:hover,
  &:active:focus,
  &:focus,
  &:visited:hover
    background:
      color: $color-secondary
    border: 1px solid $color-secondary
    color: $color-soft

  &:visited
    color: $color-secondary
