$color-soft: #FFFFFF
$color-dark: lighten(#000000, 30%)

$color-primary: #ffde00
$color-primary-soft: #FFE244
$color-primary-dark: #E1C900

$color-secondary: #29323d
$color-secondary-soft: rgba(41, 50, 61, 0.3)
$color-secondary-dark: #131A23

$color-btn-primary: #FBFBFB
$color-btn-primary-soft: lighten($color-btn-primary, 30%)
$color-btn-primary-dark: darken($color-btn-primary, 30%)