$color-soft: #FFFFFF
$color-dark: lighten(#000000, 30%)

$color-gray: #F9F9F9
$color-gray-dark: darken($color-gray, 60%)

$color-primary: #EEEEEE //#ffde00
$color-primary-soft: lighten($color-primary, 4%)
$color-primary-dark: darken($color-primary, 30%)

$color-secondary: #29323d
$color-secondary-soft: #4e6274
$color-secondary-dark: #131A23

$color-special: #ef2d56

$color-btn-primary: #FBFBFB
$color-btn-primary-soft: lighten($color-btn-primary, 30%)
$color-btn-primary-dark: darken($color-btn-primary, 30%)