.nopadding
  padding: 0

.nomargin
  margin: 0

%page
  height: 100%
  min-height: 650px
  overflow: hidden
  padding:
    top: $height-header + $padding-top-page
    left: 0
    right: 0

  @media #{$xsmall-max}
    padding:
      left: $padding-page-side-mobile
      right: $padding-page-side-mobile
    min-height: 500px

%noshadow
  -webkit-box-shadow: none!important
  -moz-box-shadow: none!important
  box-shadow: none!important

%nofocus
  outline: 0
  border:
    color: inherit
    width: 0
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none

.dot
  background:
    color: $color-special
  font-weight: 900
  width: 7px
  height: 7px
  display: inline-block
  margin:
    left: 5px

.line
  display: block
  height: 2px
  width: 80px
  margin:
    top: 10px
    bottom: 40px
  background:
    color: $color-special

  @media #{$small}
    margin:
      left: 0

  @media #{$xsmall-max}
    margin:
      bottom: 20px