.form
  .form-group
    position: relative
    margin: 40px 0

    input,
    textarea,
    select
      @extend %p
      @extend %nofocus
      @extend %noshadow
      background:
        color: transparent
      border:
        bottom:
          color: $color-primary !important
          style: solid
          width: 1px !important
      color: $color-soft
      resize: none
      opacity: .2

    label
      position: absolute
      color: $color-soft
      font:
        weight: 400
        size: 1.3em
      left: 10px

      @media #{$xsmall-max}
        font:
          size: 1em !important

    &.active
      label
        top: -20px
        font:
          size: .9em
        color: $color-special

      input,
      textarea,
      select
        opacity: 1
        border:
          bottom: 1px solid $color-secondary-soft