%h1
  font:
    size: 2.4em
    weight: 300
  margin:
    top: 25px
    bottom: 20px

  @media #{$xsmall-max}
    font:
      size: 1.6em
    text-align: center

  &.page-title
    padding:
      top: 40px

  b,
  strong
    font:
      weight: 900

%p
  font:
    size: 1.2em
  line-height: 1.2em
  display: block
  clear: both

  @media #{$xsmall-max}
    text-align: center